

p, h1, body, ul ,li{
  margin: 0;
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  /* font-family: -apple-system, "Prosto_One", sans-serif; */
}

.home{
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: #000000;
}

.home{
  width: 100%;
}

header .logo{
  display: flex;
  align-items: center;
}

header .logo img{
  padding: 5px 8px;
  width: 75px;
}

header .header{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  border-top: 4px solid #c30006;
  border-bottom: 4px solid #c30006;
  padding: 0 50px;
}

.navbar{

  font-size: 1.1rem;
  display: flex;
  gap: 40px;
}

.navbar p{
  cursor: pointer;
}

header{
  border-bottom: 4px solid green;
  border-top: 4px solid green;
  margin: 4px 0;
}

header div{
  -webkit-text-stroke: 0.5px #dd0e0e;
}



.first{
  display: flex;
  align-items: center;
  flex-direction: column;
}

main{
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-bottom: 50px;
}

.view{
  display: flex;
  background: url('./accept/fon21.jpg') no-repeat;
  background-size: contain;
  background-position: center;
  height: calc(100vw*760/2056);
  font-size: 2rem;
  color: white;
  align-items: center;
  justify-content: center;
  /* -webkit-text-stroke: 1px #000000; */
}

.view span{
  padding: 20px;
  transform: translateY(30px);
  width: 61%;
  background-color: black;
  opacity: 0.8;
}

.zapisat{
  display: flex;
  justify-content: center;
  /* margin-bottom: 100px; */

}
/*
.zapisat span{
  background-color: #c30006;
  padding: 20px;
  border-radius: 8px;
  color: white;
} */


/*buttons-----------------------------------------*/

.wrapper {
  display: flex;
  justify-content: center;
}

.cta {
    display: flex;
    padding: 10px 45px;
    font-size: 40px;
    color: white;
    background: #b00d0d;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 black;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

 .cta span {
    transform: skewX(15deg) 
  }



  .cta span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #000000;
    }
    100% {
        fill: white;
    }
}

 .wrapper a{
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 2em;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 10px 20px;
  letter-spacing: 2px;
  transition: all .25s;
}

 .wrapper a:hover{
  letter-spacing: 15px;
}



.second{
  display: flex;
  justify-content: space-around;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  align-items: center;

}

video{
  border-radius: 20px;
}

.willBetter{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 723px;
  width: 723px;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  
}

.willBetter .conteiner{
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 20px;
  /* opacity: 0.7; */
}


.willBetter img{
  position: absolute;
  z-index: -1;
  opacity: 0.6;
}

.willBetter h1{
  margin-bottom: 20px;
  font-size: 2.3rem;
  
}

.schedule{
  display: flex;
  justify-content: space-around;
}

.schedule img{
  width: 50rem;
  height: auto;
  border-radius: 4px;
  border: 2px solid black;
}

.schedule .info{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.schedule .list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.schedule .title{
  color: #b00d0d;
  font-size: 3em;
  margin-bottom: 30px;
}

.schedule .head{
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.schedule hr{
  background-color: #000000;
  color: #000000;
  border-color: rgb(0, 0, 0);
  width: 100%;
}

.coaches{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .coaches h1{
  background-color: #c3c3c3;

} */

.coaches .title {
  padding: 20px 200px;
  background: #bbbbbb;
  /* color: #ffffff; */
  text-decoration: none;
  font-size: 24px;
  /* font-weight: 600; */
  border-radius: 10px;
  position: relative; 
  overflow-x: hidden; 
}

.coaches .title .flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 45px;
  transform: skewX(-45deg);
  animation: flareAnimation;
  left: -150%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  animation: flareAnimation 3s infinite linear;
}

@keyframes flareAnimation {
  0% {
      left: -150%;
  }
  100% {
      left: 150%;
  }
}

.coaches .conteiner{
  display: flex;
  flex-direction: column;
}

.coaches hr{
  color: #000000;
  background-color: #000000;
  width: 90%;
}

.coaches .item{
  margin: 30px 60px 0;
  gap: 50px;
  display: flex;
  justify-content: space-around;
}

.coaches .info{
  padding: 10px;
  /* border: 2px solid black; */
  border-radius: 6px;
}

.coaches img{
  width: 30%;
  margin: 10px;
  border-radius: 6px;
}

.coaches .info p{
  padding: 10px;
  border: 2px solid black;
  border-radius: 6px;
  color: white;
  white-space: pre-line;
}

.coaches .info .red{
  background-color: #b00d0d;
}

.coaches .info .green{
  background-color: green;
}

.coaches .info .white{
  color: black;
}

.price {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2em;
  background: linear-gradient(white, rgb(255, 230, 0), white);
}

.price h1{
  /* text-decoration: underline; */
  /* font-weight: 700; */
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-size: 2em;
  /* font-family: "Lobster", sans-serif; */
  /* overflow: hidden; */
}

/* .price h1::after{
  display: block;
  margin-top: 2px;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 6px;
  background-color: #000000;
} */

.price .conteiner{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price .item{
  display: flex;
  flex-direction: column;
  width: 60vw;
  border: 2px solid black;
  margin: 30px;
  padding: 100px 50px;
}

.price .item p{
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.price .grownUp::before{
  /* display: block; */
  position: absolute;
  content: 'Взрослый';
  transform: translate(-52px, -127px);
  color: white;
  z-index: 2;
  background-color: #b00d0d;
  padding: 10px;
}

.price .kids::before{
  /* display: block; */
  position: absolute;
  content: 'Детский';
  transform: translate(-52px, -127px);
  color: white;
  z-index: 2;
  background-color: #b00d0d;
  padding: 10px;
}

/* .price img{
  height: 80vh;
} */

.adress{
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: transparent;
}

.contact h1{
  font-size: 2.5em;
}

.contact p{
  font-size: 1.5em;
}

.contact p:has(img){
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.contact p img{
  width: 50px;
}


/* ---------------------------- */



.area{
  padding-top: 100px;
  padding-bottom: 20px;
  height: 700px;
}

.circles{
  position: absolute;
  left: 0;
  width: 97%;
  height: 560px;
  /* overflow: hidden; */
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  animation: animate 25s linear infinite;
  bottom: 0;
  
}

.circles li:nth-child(1){
  left: 25%;
  font-size: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  font-size: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  font-size: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  font-size: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 60%;
  font-size: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 70%;
  font-size: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  font-size: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  font-size: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  font-size: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 80%;
  font-size: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  70%{
    opacity: 1;
  }
  100%{
      transform: translateY(-700px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

/* --------------------------------------- */

.zap{
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: #00000078;
}

.zap .schedule{
  background-color: #c30006;
  color: white;
  padding: 14px;
  border-radius: 20px;
  border: 2px solid white;
}

.window{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  height: 60vh;
  padding: 20px;
  border-radius: 6px;
}

.window .button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.window .button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(8, 151, 0);
  border-radius: 10rem;
  z-index: -2;
}
.window .button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #b30000;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.window .button:hover {
  color: #fff;
}
.window .button:hover:before {
  width: 100%;
}

.window .svyaz{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.window .svyaz p{
  display: flex;
  gap: 7px;
  padding-top: 20px;
}

/* -------------------------Mobile style-------------------- */

.first-m{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-m img{
  width: 100%;
}

.first-m .text{
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #000000;
  color: rgb(255, 255, 255);
  /* border: 4px double black; */
  /* padding: 5px; */
  height: 100vw;
  background: url(./accept/unnamed.jpg) no-repeat;
  background-size: contain;
  margin: 10px 0;
  box-shadow: 0px 0px 10px 10px #00000069;
}

.first-m .text p{
  text-align: center;
  background-color: #000000ae;
  padding: 10px;
}




/* ------------------------------------------------ */

.App {
  display: flex;
  font-size: 18px;
  perspective: 1000px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn.is-open ~ .description {
  opacity: 0;
}

.btn {
  display: block;
  margin: 87px;
  position: relative;
  width: 200px;
  height: 80px;
  transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  text-align: center;
}

.btn-front {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 80px;
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn-front:hover {
  background-color: #f77066;
}

.btn.is-open .btn-front {
  pointer-events: none;
  line-height: 160px;
}

.btn-back {
  position: absolute;
  width: 100%;
  background-color: #eee;
  color: #222;
  transform: translateZ(-2px) rotateX(180deg);
  overflow: hidden;
  transition: box-shadow 0.8s ease;
}

.btn-back p {
  margin-top: 27px;
  margin-bottom: 25px;
}

.btn-back button {
  padding: 12px 20px;
  width: 30%;
  margin: 0 5px;
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  font-size: 1em;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background 0.15s ease;
}
.btn-back button:focus {
  outline: 0;
}
.btn-back button.yes {
  background-color: #2196f3;
  color: #fff;
}
.btn-back button.yes:hover {
  background-color: #51adf6;
}
.btn-back button.no {
  color: #2196f3;
}
.btn-back button.no:hover {
  background-color: #ddd;
}

.btn.is-open .btn-back {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.left .btn-back,
.right .btn-back {
  transform: translateZ(-2px) rotateY(180deg);
}

.btn.is-open {
  width: 400px;
  height: 160px;
}

.top.is-open {
  transform: rotateX(180deg);
}

.right.is-open {
  transform: rotateY(180deg);
}

.bottom.is-open {
  transform: rotateX(-180deg);
}

.left.is-open {
  transform: rotateY(-180deg);
}

/* ---------------------------------------------- */

/* .window-m{

} */

.svyaz-m .phone{
  background-color: green;
  border-radius: 8px;
}

.svyaz-m p{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  margin: 0 20px 20px;
}

.svyaz-m p:nth-child(2){
  flex-direction: row;
  justify-content: center;
}

.svyaz-m p:nth-child(1) a{
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-decoration:underline;
  color: #b00d0d;
}

.svyaz-m img{
  width: 50px;
}

@keyframes menu{
  0%{
    transform: translateY(-300px);
  }
  100%{
    transform: translateY(0px);
  }
}

@media (max-width: 500px){
  header .header{
    padding: 0 10px;
    font-size: 1em;
  }

  header .logo img{
    width: 45px;
  }

  header .logo span{
    font-size: 0.9rem;
  }

  .menu{
    inset: 0;
    position: absolute;
    background-color: #0000006b;
    height: 1100%;
    z-index: 3;
    overflow-x: hidden;
    animation: menu 0.4s forwards;
  }

  .menu hr{
    width: 100vw;
  }

  .menu img{
    padding-top: 20px;
  }

  .menu .conteiner{
    background-color: white;
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .navbar{
    flex-direction: column;
    align-items: center;
    gap: 17px;
    padding: 5px;
  }

  .view{
    font-size: 1em;
    background-size: cover;
    padding-bottom: 70px;
  }
  
  .coaches .item{
    flex-wrap: wrap;
    gap: 10px;
  }

  .coaches .info{
    width: 85vw;
  }

  .coaches img{
    width: 70%;
  }

  .coaches .title{
    padding: 10px 30px;
  }
  .second{
    flex-wrap: wrap;
    font-size: 0.7em;
  }
  .second h1{
    font-size: 1.3em;
  }

  .willBetter{
    width: 80vw;
    height: 90vw;
  }

  .willBetter h1{
    margin-bottom: 0;
  }

  .willBetter img{
    width: 100%;
    height: auto;
  }
  .media-none{
    display: none;
  }

  .schedule .list{
    font-size: 0.8em;
    align-items: center;
    justify-content: baseline;
  }
  .schedule .item, .schedule .head{
    text-align: center;
    font-size: 1.2em;
  }
  .schedule .title{
    text-align: center;
    font-size: 1.5em;
  }
  .price{
    font-size: 1em;
  }
  .price .conteiner{
    margin-top: 10px;
  }
  .price .item{
    width: 80vw;
    padding: 30px 15px;
  }
  .price .grownUp::before, .price .kids::before{
    transform: translate(-17px, -51px);
  }
  .adress{
  flex-wrap: wrap;
  }
  .circles{
    /* overflow-x: hidden; */
    width: 50%;
  }
  .circles li{
    bottom: 60px;
  }
}

/* ----------------------------GAME-------------------------------------- */

.Game{
  display: flex;
  flex-direction: column;
}

.Game header{
  background-color: #b00d0d;
  text-align: center;
  font-size: 2rem;
  /* padding-top: 10px; */
}

.Game header a{
  color: white;
}

.Game main{
  /* border-radius: 6px; */
  /* border: 2px solid black; */
  align-items: center;
  padding: 30px 100px;
  align-self: center;
  margin-top: 50px;
}

.Game section .clear{
  margin: 40px 0 40px;
}

.Game section .clear span{
  color: #ef3333;
  border: 2px solid #ef3333;
  padding: 5px;
}

.Game hr{
  margin: 10px;
}

.Game .select{
  margin-top: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
}

.Game .select .item{
  border-radius: 6px;
  border: 1px solid black;
  padding: 2px 5px;
  margin: 0 5px;
}

.Game .Start{

  align-self: center;
  font-weight: 800;
  font-size: 1.5rem;
  border-radius: 9px;
  border: 2px solid black;
  padding: 15px 20px;
}

.Game .print{
  height: 200px;
  width: 300px;
  color: white;
  /* padding: 50px; */
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
}

.animation_box{
  /* width: 100%; */
  height: 80vh;
}

.Game section{
  padding: 0 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /* grid-template-columns: 1fr 1fr; */
}

.Game section .btns{
  display: flex;
  flex-direction: column;
  /* align-items: center; */

}